.app__header {
    text-align: center;
    background-image: linear-gradient(green, palegreen);
    margin-bottom: 20px;
}

.app > form {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
}

.app__text {
    padding: 20px;
    flex: 1;
}

.app > form > button {
    padding: 15px;

}

.app__center {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid white;
}

.app__centerTH {
    text-align: center;
    padding: 16px;
    font-size: 24px;
    border: darkgrey;
}

.app__centerTD {
    text-align: center;
    padding: 16px;
}

.app__centerName {
    color: blue;
}

.app__centerMessage {
    color: darkgoldenrod;
}